{% extends "templates/layouts/base.twig" %}
{% set title = "LUNA / TOOLS" %}

{% set links = [ 
  {'title': 'jitter', 'href': 'https://jitter.video/files/', 'image': 'src/assets/img/tools/jitter.png', 'tags': ['motion design']},
  {'title': 'bezi', 'href': 'https://www.bezi.com/recent', 'image': 'src/assets/img/tools/bezi.png', 'tags': ['3d']},
  {'title': 'endless <br> tools', 'href': 'https://beta.endlesstools.io/', 'image': 'src/assets/img/tools/endless-tools.png', 'tags': ['3d']},
  {'title': 'spline', 'href': 'https://app.spline.design/home', 'image': 'src/assets/img/tools/spline.png', 'tags': ['3d', '/', 'motion design']},
  {'title': 'borrowlab', 'href': 'https://www.burrowlab.com/demo', 'image': 'src/assets/img/tools/borrowlab.png', 'tags': ['fonts']},
  {'title': 'morflax <br> studio', 'href': 'https://studio.morflax.com/', 'image': 'src/assets/img/tools/morflax-studio.png', 'tags': ['3d']},
  {'title': 'shots', 'href': 'https://www.shots.so/', 'image': 'src/assets/img/tools/shots.png', 'tags': ['posts', '/', 'socials']},
  {'title': 'mock <br> rocket', 'href': 'https://app.mockrocket.io/', 'image': 'src/assets/img/tools/mockrocket.png', 'tags': ['3d', '/', 'mockup', '/', 'animation']},
  {'title': 'pixcap', 'href': 'https://pixcap.com/explore', 'image': 'src/assets/img/tools/pixcap.png', 'tags': ['3d', '/', 'posts', '/', 'socials']}
] %}

{% block content %}
<div class="title">
  <div class="container">
    <div class="title-wrap">
      <h1>tools</h1>
      <div class="title-count">({{ links.length }})</div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="content-grid">
    {% for link in links %}
      <a href="{{ link.href }}" target="_blank" rel="noopener noreferrer" class="content-grid__card">
        <div class="image">
          <img src="{{ link.image }}" alt="{{ link.title }}">
        </div>
        <div class="tags">
        {% for tag in link.tags %}
          <span>{{ tag }}</span>
        {% endfor %}
        </div>
        <h3>
          {{ link.title }}
          <div class="arrow"></div>
        </h3>
      </a>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
